{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Fernando Ripoll Lafuente</h1>
    <p class="highlited-paragraph">
        {{ 'aboutme' | trans }}
    </p>
    <img src="/Ui/Resources/images/creatividad.png"/>
{% endblock %}