{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Trayectoria</h1>
    <div class="timeline mt-10">
        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2017 - ?</p>
                        <p class="tile-title">Solution Engineer</p>
                        <p class="tile-title">Giant Swarm</p>
                        <p class="tile-subtitle">
                        Ayudar a los clientes a dar el salto a microservicios, concretamente a Kubernetes.<br>
                        Mejorar la automatización de sus procesos implementando CI/CD.<br>
                        Escribir recetas (helm) para facilitar la implementación de diferentes soluciones (monitoring, BBDD, logging, ...)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <div class="timeline mt-10">
        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2014 - 2017</p>
                        <p class="tile-title">Desarrollador Web Full-stack (Arquitectura/DevOps)</p>
                        <p class="tile-title">Cobrowser</p>
                        <p class="tile-subtitle">Crear un sistema de comunicación web entre empresas online y sus clientes. Construcción de un arquitectura de microservicios orquestados con kubernetes. Componentes desarrollados en diferentes tecnologías dependiendo sus ventajas (Nodejs, Erlang, PHP).</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2013 - 2014</p>
                        <p class="tile-title">Desarrollador Web Frontend</p>
                        <p class="tile-title">Hult International Business School</p>
                        <p class="tile-subtitle">Rediseño de la aplicación social de estudiantes utilizando tecnologías como HTML5, knockout.js, Bootstrap,...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2014 - 2014</p>
                        <p class="tile-title">Desarrollador Web Full-stack</p>
                        <p class="tile-title">Tiatere</p>
                        <p class="tile-subtitle">Creación, consultoría y desarrollo de websites para PYMEs.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2013 - ∞</p>
                        <p class="tile-title">Desarrollador Web</p>
                        <p class="tile-title">Civio</p>
                        <p class="tile-subtitle">Rediseño del blog 'El BOE' nuestro de cada día. Colaboración en proyectos abiertos.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2011 - 2012</p>
                        <p class="tile-title">Técnico Web</p>
                        <p class="tile-title">Ayuntamiento de Tarragona</p>
                        <p class="tile-subtitle">Realizar portales web para asociaciones locales utilizando un sistema de gestión de contenidos. Dar soporte al ciudadano en tareas relacionadas con Internet.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2009 - 2011</p>
                        <p class="tile-title">Ingeniero Junior</p>
                        <p class="tile-title">Esteban Ripoll</p>
                        <p class="tile-subtitle">Encargado de llevar a cabo el cambio de ERP de la PYME. Migración de datos, adaptación de la aplicación al estándar de trabajo de la empresa. Cambio de imagen corporativa. Desarrollo de una nuevo portal Web.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2008 - 2009</p>
                        <p class="tile-title">Adjuntos en proyectos</p>
                        <p class="tile-title">IT Ramón Soler</p>
                        <p class="tile-subtitle">Diseño y desarrollo de la aplicación Web. Realización del CRM para la gestión de clientes.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2008 - 2009</p>
                        <p class="tile-title">EAE Business School</p>
                        <p class="tile-title">Master Dirección y Gestión de empresas</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2004 - 2005</p>
                        <p class="tile-title">Cardiff University</p>
                        <p class="tile-title">Computer Science Grant</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2001 - 2007</p>
                        <p class="tile-title">Universitat de València</p>
                        <p class="tile-title">Ingeniería de Informática</p>
                        <p class="tile-title">Ingeniería de Telecomunicaciones, especialidad Telemática</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
