<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/Ui/Resources/css/spectre/dist/spectre.css">
    </head>
    <body>
        <section class="section section-header bg-gray">
            <section class="grid-header container grid-960">
                <nav class="navbar">
                    <section class="navbar-section">
                        <a href="#sidebar" class="btn btn-lg btn-link btn-action"><i class="icon icon-menu"></i></a>
                        <a href="/" class="navbar-brand mr-10">
                            <div class="popover popover-bottom tile">
                                <img src="/Ui/Resources/images/logo.png">
                                <div class="popover-container">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="tile-subtitle text-size-mini text-gray">{{ 'tiatere_why' | trans }}</p>
                                            <p class="tile-subtitle text-size-mini text-gray">{{ 'tiatere_why_explanation' | trans }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </section>

                    <section class="navbar-section">
                        <div class="float-right">
                            <a href="/es" class="">es</a>
                            &nbsp;|&nbsp;
                            <a href="/en" class="">en</a>
                            &nbsp;&nbsp;
                        </div>
                        <a href="https://github.com/pipo02mix" target="_blank" class="social-link icon-svg"><img
                                    src="/Ui/Resources/icons/github.svg" alt=""></a>
                        <a href="https://twitter.com/pipo02mix" target="_blank" class="social-link icon-svg"><img
                                    src="/Ui/Resources/icons/twitter.svg" alt=""></a>
                    </section>
                </nav>
            </section>
        </section>
        <section class="container grid-960">
            <div class="columns">
                {% include 'sidebar.html.twig' %}
                <div class="col-12 column mb-10">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </section>
    </body>
</html>