{% block sidebar %}

    <div id="sidebar" class="docs-sidebar column col-3">
        <ul class="docs-nav nav">
            <li class="nav-item">
                <a href="/about-me">About me</a>
            </li>
            <li class="nav-item">
                <a href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a href="/curriculum">Curriculum</a>
            </li>
            <li class="nav-item">
                <a href="/contacto">Contacto</a>
            </li>
        </ul>
    </div>
    <a href="#sidebar-close" id="sidebar-close" class="docs-nav-clear"></a>

{% endblock %}
