{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Trayectoria</h1>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-left">
                <p class="timeline-icon icon-lg">
                    <i class="icon icon-bookmark"></i>
                </p>
            </div>
            <div class="timeline-content">
                <div class="tile">
                    <div class="tile-content">
                        <p class="tile-subtitle">2008 - 2009</p>
                        <p class="tile-title">EAE Business School</p>
                        <p class="tile-title">Master Dirección y Gestión de empresas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}