
{% block sidebar %}

    <div id="sidebar" class="docs-sidebar column col-3">
        <ul class="docs-nav nav">
            <li class="nav-item">
                <a href="elements.html">Elements</a>
            </li>
            <li class="nav-item">
                <a href="layout.html">Layout</a>
            </li>
            <li class="nav-item">
                <a href="components.html">Components</a>
            </li>
            <li class="nav-item">
                <a href="utilities.html">Utilities</a>
            </li>
            <li class="nav-item">
                <a href="experimentals.html">Experimentals</a>
            </li>
        </ul>
    </div>

{% endblock %}
